@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Admin/IndexLayout.cshtml";
}

<h4>AddExperience</h4>
<br />

<form asp-controller="Admin" asp-action="AddExperience" method="post">

    <label for="Head">Başlık</label>
    <input class="form-control" style="width:50%" id="Head" name="Head" />
    <br />
    <label for="Title">Ünvan</label>
    <input class="form-control" style="width:50%" id="Title" name="Title" />
    <br />
    <label for="Date">Tarih</label>
    <input class="form-control" style="width:50%" id="Date" name="Date" />
    <br />
    <label for="Description">Açıklama</label>
    <textarea id="Description" name="Description" class="form-control" style="width:50%" rows="3"></textarea>

    <label for="UseTechnology">Kullanılan Teknolojiler</label>
    <input class="form-control" style="width:50%" id="UseTechnology" name="UseTechnology" />
    <br />
    <button type="submit" class="btn btn-success">
        Add
    </button>
</form>
