@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("AdminHead")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("AdminNavbar")

        @await Component.InvokeAsync("AdminSidebar")
        <div class="main-panel">
            <div class="content" style="height:950px">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @await Component.InvokeAsync("AdminFooter")
        </div>
    </div>

    @await Component.InvokeAsync("AdminScript")
</body>
</html>