@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="en">

@await Component.InvokeAsync("Head")

<body id="top">

    @await Component.InvokeAsync("Navbar")
    
    @await Component.InvokeAsync("Feature")
   
    @await Component.InvokeAsync("About")
   
    @await Component.InvokeAsync("Portfolyo")
    
    @await Component.InvokeAsync("Testimonial")
    
    @await Component.InvokeAsync("Statistic")
    
    @await Component.InvokeAsync("Contact")

    @await Component.InvokeAsync("Footer")  
   
</body>
</html>