<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Muhsin Yigit
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">Profilim</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Şifre Değiştir</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Dashboard" class="nav-link">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Admin" asp-action="About" class="nav-link">
                    <i class="la la-user"></i>
                    <p>Hakkımda</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Experience" class="nav-link">
                    <i class="la la-briefcase"></i>
                    <p>Deneyimler</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Skill" class="nav-link">
                    <i class="la la-cogs"></i>
                    <p>Yeteneklerim</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Feature" class="nav-link">
                    <i class="la la-star"></i>
                    <p>Özellikler</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Contact" class="nav-link">
                    <i class="la la-envelope"></i>
                    <p>İletişim Bilgileri</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Admin" asp-action="Project" class="nav-link">
                    <i class="la la-folder-open"></i>
                    <p>Projelerim</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Admin" asp-action="SocialMedia" class="nav-link">
                    <i class="la la-share-alt"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>

            <li class="nav-item">
                <form asp-controller="Admin" asp-action="Logout" method="post" class="nav-link p-0">
                    <button type="submit" class="btn btn-link nav-link text-left">
                        <i class="la la-sign-out"></i>
                        <p>Çıkış Yap</p>
                    </button>
                </form>
            </li>

        </ul>


    </div>
</div>